
.intro-text, .main-head, .cta-home{
    font-family: "Cormorant Upright", serif;
}
/* For smaller */
@media (max-width: 480px) {
    .main-head {
      font-size: 2.5rem;
    }
    .intro-text {
      font-size: 1.2rem;
    }
  }