@import "tailwindcss";


/* Only reset specific elements that need it */
body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

/* Keep your body styles */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', 'sans-serif';
    background: url('./assets/images/bg.png');
    height: 100vh;
    width: 100%;
}